.project-container{
    overflow-y: visible;
}
.project-sidebar{
    min-height: 100vh !important;
    background-color: #b6bebe;
}

.project-card{
    margin-bottom: 3vh !important;
}

.task-container{
    margin-left: -1%;
    min-height: 100vh;
    background-color: rgb(224, 222, 222);
}

.level{
    margin-bottom: 3%;
}

.task-card{
    margin-top: 5%;
    background-color: rgb(245, 245, 245) !important;
    margin-bottom: 5%;
}


.task-column{
    margin-top: 3vh;
    margin-left: 2vw;
    min-height: 80vh;
    background-color: wheat;
    box-shadow: 1px 1px 1px 0px darkgray;
    margin-bottom: 3vh;
}

#end-task-column{
    margin-right: 2vw;
}

.creation-field{
    margin-bottom: 5vh !important;
}

.task-icon{
    margin-top: 2vh;
}
